<!-- Modal Éxito Crear Cuenta-->
<div class="modal fade" id="modalExito" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de éxito" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success d-block text-center">
                <h5 class="modal-title text-white">CREACIÓN ÉXITOSA</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Se ha creado tu cuenta con éxito. Favor de esperar a que el administrador verifique y te de acceso.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Error Crear Cuenta-->
<div class="modal fade" id="modalError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de error" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger d-block text-center">
                <h5 class="modal-title text-white">ERROR!!</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Lo sentimos ha habido un error. Porfavor vuelva a intentarlo.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Éxito Realizar Test de Beck-->
<div class="modal fade" id="modalExitoBeck" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de éxito" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success d-block text-center">
                <h5 class="modal-title text-white" id="exampleModalLabel">Diagnostico Éxitoso</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Se ha realizado el diagnostico con exito. El paciente presenta los siguientes resultados:</p>
                <div class="res"></div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Éxito Realizar Test de Beck-->
<div class="modal fade" id="modalExitoPaciente" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de éxito" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success d-block text-center">
                <h5 class="modal-title text-white" id="exampleModalLabel">REGISTRO EXITOSO</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Se ha realizado el registro del paciente con exito.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Éxito Editar Paciente-->
<div class="modal fade" id="modalExitoEditarPaciente" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de éxito" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success d-block text-center">
                <h5 class="modal-title text-white" id="exampleModalLabel">EDICIÓN EXITOSA</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Se ha realizado al edición al paciente con exito.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="acceptExitoEditarPaciente">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>