{% extends "base/baselogged.html" %}
{% load static %}
	
{% block contenido_head %}
	<!--<link rel="stylesheet" href="{% static 'css/main/home.css' %}">-->
{% endblock %}

{% block contenido_body %}
    <div class="container mt-5 mb-5">
        <div class="card shadow-lg border-0 rounded-lg">
            <h5 class="card-header text-center">Formulario BECK</h5>
            <div class="card-body">
                <form id="BeckForm" action="" method="POST">
                {% csrf_token %}
                <h2>Paciente a Diagnosticar</h1>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-12 col-lg-6">
                        <select name="paciente_id" class="form-control" required="" id="id_paciente">
                            <option value="" selected="">---------</option>
                            {% for pacientes in paciente %}
                                <option value="{{pacientes.id}}">{{pacientes.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <h4>Datos Especificos</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tristeza">Tristeza</label>
                            {{form.tristeza}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pesimismo">Pesimismo</label>
                            {{form.pesimismo}}
                        </div>
                         
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fracaso">Fracaso</label>
                            {{form.fracaso}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_placer">Pérdida de Placer</label>
                            {{form.placer}}
                        </div>
    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="sentimiento_culpa">Sentimientos de Culpa</label>
                            {{form.culpa}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sentimiento_castigo">Sentimientos de Castigo</label>
                            {{form.castigo}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="disconformidad_unomismo">Disconformidad con uno mismo</label>
                            {{form.disconformidad}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="autocritica">Autocrítica</label>
                            {{form.autocritica}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="llanto">Llanto</label>
                            {{form.llanto}}
                        </div>   
                        <div class="form-group col-md-6">
                            <label for="agitacion">Agitación</label>
                            {{form.agitacion}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="perdida_interes">Pérdida de Interés</label>
                            {{form.interes}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="indecision">Indecisión</label>
                            {{form.indecision}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="desvalorizacion">Desvalorización</label>
                            {{form.desvalorizacion}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_energia">Pérdida de Energía</label>
                            {{form.energia}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cambios_habi_sueños">Cambios en los Hábitos de Sueño</label>
                            {{form.sueño}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="irritabilidad">Irritabilidad</label>
                            {{form.irritabilidad}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cambios_apetito">Cambios en el Apetito</label>
                            {{form.apetito}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dificultad_concentracion">Dificultad de Concentración</label>
                            {{form.concentracion}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cansancio">Cansancio o Fatiga</label>
                            {{form.fatiga}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_interes_sexo">Pérdida de Interés en el Sexo</label>
                            {{form.sexo}}
                        </div>
                    </div>
                    <h4>Datos Adicionales Recientes en la Vida del Paciente</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                {{form.vivir_solo}}
                                <label class="form-check-label" for="id_vivir_solo">Vivo Solo</label>
                            </div>
                            <div class="form-check">
                                {{form.conflicto_familiar}}
                                <label class="form-check-label" for="id_conflicto_familiar">Conflicto Familiar Severo</label>
                            </div>
                            <div class="form-check">
                                {{form.muerte_ser_querido}}
                                <label class="form-check-label" for="id_muerte_ser_querido">Muerte de un Ser Querido</label>
                            </div>
                            <div class="form-check">
                                {{form.presion_redes_sociales}}
                                <label class="form-check-label" for="id_presion_redes_sociales">Presion en Redes Sociales</label>
                            </div>
                            <div class="form-check">
                                {{form.dias_festivos}}
                                <label class="form-check-label" for="id_dias_festivos">Días Festivos Recientes</label>
                            </div>
                            <div class="form-check">
                                {{form.divorcio_padres}}
                                <label class="form-check-label" for="id_divorcio_padres">Divorcios de los Padres</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                {{form.perdida_trabajo}}
                                <label class="form-check-label" for="id_perdida_trabajo">Perdida de Trabajo</label>
                            </div>
                            <div class="form-check">
                                {{form.conflicto_laboral}}
                                <label class="form-check-label" for="id_conflicto_laboral">Conflicto Laboral Severo</label>
                            </div>
                            <div class="form-check">
                                {{form.separacion_conyugal}}
                                <label class="form-check-label" for="id_separacion_conyugal">Separacion Conyugal</label>
                            </div>
                            <div class="form-check">
                                {{form.abuso_sexual}}
                                <label class="form-check-label" for="id_abuso_sexual">Abuso Sexual</label>
                            </div>
                            <div class="form-check">
                                {{form.conflicto_amoroso}}
                                <label class="form-check-label" for="id_conflicto_amoroso">Conflicto Amoroso</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Realizar Diagnostico</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'base/modals.html' %}
{% endblock %}
{% block contenido_scripts %}
<script type="module" src="{% static 'js/doctor/beck.js' %}"></script>
{% endblock %}

