{% extends "base/baselogged.html" %}
{% load static %}
	
{% block contenido_head %}
	<link rel="stylesheet" href="{% static 'css/doctor/styles.css' %}">
{% endblock %}

{% block contenido_body %}
    <div class="container-fluid">
        <h1 class="mt-4 text-white">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Pacientes Registrados: <span class="text-bold">{{ pacientes|length }}</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#." onclick="pacientesRegistrados()">Ver más</a>
                        <div class="small text-white"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 hover-to-show-link">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Diagnosticos Realizados: <span class="text-bold">{{total_casos}}</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between hover-to-show">
                        <a class="small text-white stretched-link" href="#." onclick="diagnosticosRealizados()">Ver más</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Casos Detectados con Trastorno Depresivo o Distimico: <span class="text-bold">{{total_casos_depresion_distimia}}</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#." onclick="diagnosticosDepresivoDistimico()">Ver más</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>            
        </div>
        <div id="pacientesRegistrados" class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Pacientes Diágnosticados
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="display responsive nowrap" id="pacientesDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {% for cabecera in cabeceras %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                {% for cabecera in cabeceras %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <td id="{{paciente.id}}">{{paciente.name}}</td>
                                    <td>{{paciente.birth_date}}</td>
                                    <td>{{paciente.get_study_display}}</td>
                                    <td>{{paciente.get_job_display}}</td>
                                    <td>{{paciente.get_economical_situation_display}}</td>
                                    <td>{{paciente.email}}</td>
                                    <td><a href="#." onclick="ver_edit_paciente('{{paciente.id}}')"><i class="fa fa-id-card" data-toggle="tooltip" title="Editar/Ver Paciente" aria-hidden="true"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="diagnosticosRealizados" class="card mb-4" style="display: none;">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Diagnosticos Realizados
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="display responsive nowrap" id="diagnosticosDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {% for cabecera in cabecerasDiagnosticos %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                {% for cabecera in cabecerasDiagnosticos %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for resultado in resultadosDiagnosticoGeneral.all %}
                                <tr>
                                    <td id="{{resultado.id}}">{{resultado.beck.paciente.name}}</td>
                                    <td>{{resultado.created_at}}</td>
                                    {% if resultado.Depresion %}
                                    <td><strong><p class="fa fa-check"></p></strong></td>
                                    {% else %}
                                    <td><strong><p>---------</p></strong></td>
                                    {% endif %}
                                    {% if resultado.Distimia %}
                                    <td><strong><p class="fa fa-check"></p></strong></td>
                                    {% else %}
                                    <td><strong><p>---------</p></strong></td>
                                    {% endif %}
                                    <td><a href="#." onclick="ver_testbeck('{{resultado.id}}')"><i class="fa fa-info-circle" data-toggle="tooltip" title="Ver test de beck" aria-hidden="true"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="diagnosticosDepresivoDistimico" class="card mb-4" style="display: none;">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Diagnosticos Diagnosticados con Depresion o Distimia
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="display responsive nowrap" id="diagnosticosDepresivoDistimicoDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {% for cabecera in cabecerasDiagnosticosDepresivoDistimico %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                {% for cabecera in cabecerasDiagnosticosDepresivoDistimico %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                                <th data-priority="1">Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for resultado in resultadosDiagnosticoDepresivoDistimico.all %}
                                <tr>
                                    <td id="{{resultado.id}}">{{resultado.beck.paciente.name}}</td>
                                    <td>{{resultado.created_at}}</td>
                                    {% if resultado.Depresion %}
                                    <td><strong><p class="fa fa-check"></p></strong></td>
                                    {% else %}
                                    <td><strong><p>---------</p></strong></td>
                                    {% endif %}
                                    {% if resultado.Distimia %}
                                    <td><strong><p class="fa fa-check"></p></strong></td>
                                    {% else %}
                                    <td><strong><p>---------</p></strong></td>
                                    {% endif %}
                                    {% if resultado.Melancolico %}
                                    <td>Melancolico</td>
                                    {% else %}
                                        {% if resultado.Atipico %}
                                        <td>Atipico</td>
                                        {% else %}
                                            {% if resultado.Catatonico %}
                                            <td>Catatonico</td>
                                            {% else %}
                                            <td><strong>-------</strong></td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <td><a href="#." onclick="ver_testbeck('{{resultado.id}}')"><i class="fa fa-info-circle" data-toggle="tooltip" title="Ver test de beck" aria-hidden="true"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modalEditarPaciente-->
    <div class="modal fade" id="modalEditarPaciente" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal Editar Paciente" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Editar Paciente</h5>
                </div>
                <div class="modal-body bg-light">
                    <form id="EditPacienteForm" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="sexo">Sexo</label>
                                    {{ formEditarPaciente.sex }}  
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="fechanac">Fecha de Nacimiento</label>
                                    {{ formEditarPaciente.birth_date }}   
                                </div>
                            </div>
                       </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1" for="nombrecompleto">Nombre Completo</label>
                                    {{ formEditarPaciente.name }}   
                                 </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1" for="correo">Correo electrónico del paciente</label>
                                    {{ formEditarPaciente.email }} 
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="escolaridad">Ultimo grado de estudios</label>
                                    {{ formEditarPaciente.study }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="profesion">Ocupación</label >
                                    {{ formEditarPaciente.job }} 
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="estadocivil">Estado civil</label>
                                    {{ formEditarPaciente.civil_state }} 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="religion">Religión</label >
                                    {{ formEditarPaciente.religion }} 
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1" for="economico">Nivel económico</label >
                                        {{ formEditarPaciente.economical_situation }} 
                                </div>
                            </div>
                       </div>
                       <div class="form-group mt-4 mb-0 text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modalVerTest-->
    <div class="modal fade" id="modalVerTest" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal Ver Test" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 50%;">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Ver Test de Beck</h5>
                </div>
                <div class="modal-body bg-light">
                    <form id="verTestBeckForm" action="" method="POST">
                        <h4>Paciente Diagnosticado</h1>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-12 col-lg-6">
                                <select name="paciente_id" class="form-control" required="" id="id_paciente">
                                    <option value="" selected="">---------</option>
                                    {% for pacientes in pacientes %}
                                        <option value="{{pacientes.id}}">{{pacientes.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <h6>Datos Especificos</h6>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="tristeza">Tristeza</label>
                                {{formTestBeck.tristeza}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="pesimismo">Pesimismo</label>
                                {{formTestBeck.pesimismo}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fracaso">Fracaso</label>
                                {{formTestBeck.fracaso}}
                            </div>  
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="perdida_placer">Pérdida de Placer</label>
                                {{formTestBeck.placer}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="sentimiento_culpa">Sentimientos de Culpa</label>
                                {{formTestBeck.culpa}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="sentimiento_castigo">Sentimientos de Castigo</label>
                                {{formTestBeck.castigo}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="disconformidad_unomismo">Disconformidad con uno mismo</label>
                                {{formTestBeck.disconformidad}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="autocritica">Autocrítica</label>
                                {{formTestBeck.autocritica}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="llanto">Llanto</label>
                                {{formTestBeck.llanto}}
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="agitacion">Agitación</label>
                                {{formTestBeck.agitacion}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="perdida_interes">Pérdida de Interés</label>
                                {{formTestBeck.interes}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="indecision">Indecisión</label>
                                {{formTestBeck.indecision}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="desvalorizacion">Desvalorización</label>
                                {{formTestBeck.desvalorizacion}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="perdida_energia">Pérdida de Energía</label>
                                {{formTestBeck.energia}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cambios_habi_sueños">Cambios en los Hábitos de Sueño</label>
                                {{formTestBeck.sueño}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="irritabilidad">Irritabilidad</label>
                                {{formTestBeck.irritabilidad}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cambios_apetito">Cambios en el Apetito</label>
                                {{formTestBeck.apetito}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="dificultad_concentracion">Dificultad de Concentración</label>
                                {{formTestBeck.concentracion}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cansancio">Cansancio o Fatiga</label>
                                {{formTestBeck.fatiga}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="perdida_interes_sexo">Pérdida de Interés en el Sexo</label>
                                {{formTestBeck.sexo}}
                            </div>
                        </div>
                        <h4>Datos Adicionales Recientes en la Vida del Paciente</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    {{formTestBeck.vivir_solo}}
                                    <label class="form-check-label" for="id_vivir_solo">Vivo Solo</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.conflicto_familiar}}
                                    <label class="form-check-label" for="id_conflicto_familiar">Conflicto Familiar Severo</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.muerte_ser_querido}}
                                    <label class="form-check-label" for="id_muerte_ser_querido">Muerte de un Ser Querido</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.presion_redes_sociales}}
                                    <label class="form-check-label" for="id_presion_redes_sociales">Presion en Redes Sociales</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.dias_festivos}}
                                    <label class="form-check-label" for="id_dias_festivos">Días Festivos Recientes</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.divorcio_padres}}
                                    <label class="form-check-label" for="id_divorcio_padres">Divorcios de los Padres</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    {{formTestBeck.perdida_trabajo}}
                                    <label class="form-check-label" for="id_perdida_trabajo">Perdida de Trabajo</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.conflicto_laboral}}
                                    <label class="form-check-label" for="id_conflicto_laboral">Conflicto Laboral Severo</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.separacion_conyugal}}
                                    <label class="form-check-label" for="id_separacion_conyugal">Separacion Conyugal</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.abuso_sexual}}
                                    <label class="form-check-label" for="id_abuso_sexual">Abuso Sexual</label>
                                </div>
                                <div class="form-check">
                                    {{formTestBeck.conflicto_amoroso}}
                                    <label class="form-check-label" for="id_conflicto_amoroso">Conflicto Amoroso</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group mt-4 mb-0 text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/modals.html' %}
{% endblock %}
{% block contenido_scripts %}
<script src="{% static 'js/doctor/datatables.js' %}"></script>
<script src="{% static 'js/doctor/dashboard.js' %}"></script>
{% endblock %}

