{% extends "base/baselogged.html" %}
{% load static %}
	
{% block contenido_head %}
	<link rel="stylesheet" href="{% static 'css/doctor/styles.css' %}">
{% endblock %}

{% block contenido_body %}
    <div class="container-fluid">
        <h1 class="mt-4 text-white">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Pacientes Registrados: <span class="text-bold">{{ pacientes|length }}</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#dataTable">Ver más</a>
                        <div class="small text-white"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Casos Detectados con Trastorno Depresivo: <span class="text-bold">35</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'DocCasoDepresivo' %}">Ver más</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 hover-to-show-link">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Diagnosticos Realizados: <span class="text-bold">40</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between hover-to-show">
                        <a class="small text-white stretched-link" href="#">Ver más</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Casos Detectados con Trastorno Distímico: <span class="text-bold">5</span></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'DocCasoDistimico' %}">Ver más</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="tableDiv" class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Pacientes Diágnosticados
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="display responsive nowrap" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {% for cabecera in cabeceras %}
                                    <th>{{cabecera}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Grado Academico Alcanzado</th>
                                <th>Municipio de Residencia</th>
                                <th>Edad</th>
                                <th>Primer Diágnostico Realizado</th>
                                <th>Último Diágnostico Realizado</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <td>{{paciente.name}}</td>
                                    <td>{{paciente.birth_date}}</td>
                                    <td>{{paciente.get_study_display}}</td>
                                    <td>{{paciente.get_job_display}}</td>
                                    <td>{{paciente.get_economical_situation_display}}</td>
                                    <td>{{paciente.email}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contenido_scripts %}
<script src="{% static 'js/loggedtemplate/datatables-demo.js' %}"></script>
{% endblock %}

