{% extends "base/baselogged.html" %}
{% load static %}
	
{% block contenido_head %}
	<!--<link rel="stylesheet" href="{% static 'css/main/home.css' %}">-->
{% endblock %}

{% block contenido_body %}
<style>
.help {
        color:#fff;
        background-color:#feb22a;
        width:12px;
        height:12px;
        display:inline-block;
        border-radius:100%;
        font-size:10px;
        text-align:center;
        text-decoration:none;
        -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
        box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    }
</style>
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Registrar Paciente</h3></div>
                    <div class="card-body">
                        <form id="RegistroPacienteForm" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="sexo">Sexo</label>
                                        {{ form.sex }}  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="fechanac">Fecha de Nacimiento</label>
                                        {{ form.birth_date }}   
                                    </div>
                                </div>
                           </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="nombrecompleto">Nombre Completo</label>
                                        {{ form.name }}   
                                     </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="correo">Correo electrónico del paciente</label>
                                        {{ form.email }} 
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="escolaridad">Ultimo grado de estudios</label>
                                        {{ form.study }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="profesion">Ocupación</label >
                                        <a class="help" href="#.">?</a>
                                        {{ form.job }} 
                                    </div>
                                </div>
                               
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="estadocivil">Estado civil</label>
                                        {{ form.civil_state }} 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="religion">Religión</label >
                                        {{ form.religion }} 
                                    </div>
                                </div>
                               
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="economico">Nivel económico</label >
                                            {{ form.economical_situation }} 
                                        </div>
                                </div>
                           </div>
                           <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Registrar Paciente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/modals.html' %}
{% endblock %}
{% block contenido_scripts %}
<script type="module" src="{% static 'js/doctor/registropaciente.js' %}"></script>
{% endblock %}
